* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.body {
  background-color: gold;
}
.body .color {
  display: block;
  height: 270px;
  background-color: whitesmoke;
}
.body .contCalculator .contNumber {
  height: 200px;
}
.body .contCalculator .contKeys {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[5];
  grid-template-rows: repeat(5, 1fr);
}
.body .contCalculator .contKeys > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.body .contCalculator .contKeys > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.body .contCalculator .contKeys > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.body .contCalculator .contKeys > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.body .contCalculator .contKeys > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.body .contCalculator .contKeys > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.body .contCalculator .contKeys > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.body .contCalculator .contKeys > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.body .contCalculator .contKeys > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.body .contCalculator .contKeys > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.body .contCalculator .contKeys > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.body .contCalculator .contKeys > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.body .contCalculator .contKeys > *:nth-child(13) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.body .contCalculator .contKeys > *:nth-child(14) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.body .contCalculator .contKeys > *:nth-child(15) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.body .contCalculator .contKeys > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
.body .contCalculator .contKeys > *:nth-child(17) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.body .contCalculator .contKeys > *:nth-child(18) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.body .contCalculator .contKeys > *:nth-child(19) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.body .contCalculator .contKeys > *:nth-child(20) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}
.body .contCalculator .contKeys .button0 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 5;
  grid-row: 5;
}
.body .contCalculator .contKeys .button1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}
.body .contCalculator .contKeys .button2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}
.body .contCalculator .contKeys .button3 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}
.body .contCalculator .contKeys .button4 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  grid-row: 3;
}
.body .contCalculator .contKeys .button5 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 3;
  grid-row: 3;
}
.body .contCalculator .contKeys .button6 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
}
.body .contCalculator .contKeys .button7 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 4;
  grid-row: 4;
}
.body .contCalculator .contKeys .button8 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  grid-row: 4;
}
.body .contCalculator .contKeys .button9 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 4;
  grid-row: 4;
}
.body .contCalculator .contKeys .buttonMas {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 4;
  grid-row: 4;
}
.body .contCalculator .contKeys .buttonMenos {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 3;
  grid-row: 3;
}
.body .contCalculator .contKeys .buttonMult {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 2;
  grid-row: 2;
}
.body .contCalculator .contKeys .buttonDiv {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 1;
  grid-row: 1;
}
.body .contCalculator .contKeys .buttonPorc {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
}
.body .contCalculator .contKeys .buttonPunt {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 5;
  grid-row: 5;
}
.body .contCalculator .contKeys .buttonReset {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
}
.body .contCalculator .contKeys .buttonTotal {
  -ms-grid-column: 4;
  grid-column: 4;
  -ms-grid-row: 5;
  grid-row: 5;
}